@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__nuxt{
    height: 100%;
    font-family: "Manrope", sans-serif;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}
/*td {*/
/*    padding: 10px;*/
/*    border: 2px solid #fbfbfb;*/
/*}*/
/*th:first-child {*/
/*    border-top-left-radius: 10px;*/
/*}*/
/*th:last-child {*/
/*    border-top-right-radius: 10px;*/
/*}*/
/*td:first-child {*/
/*    border-bottom-left-radius: 10px;*/
/*}*/
/*td:last-child {*/
/*    border-bottom-right-radius: 10px;*/
/*}*/




