@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__nuxt{
    height: 100%;
    font-family: "Manrope", sans-serif;
}

tbody {
    box-shadow: 0 0 0 2px #f4f4f4;
    border-radius: 16px;
}
